/*body {
  background-image: url("http://i.imgur.com/27mgVZn.jpg");
}*/

.mdl-layout {
  align-items: center;
  justify-content: center;
  flex: auto;
}

input[type="text"] {
  border: 0px solid white;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 2px;
  color: #fff;
  background-color: transparent;
  padding: 10px 12px;
  width: 100%;

  font-size: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

input:focus {
  border: 0px solid white;
}

.bus {
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
  margin-top: 16px;
  width: 100px;
  height: 100px;
  background: url("bus.svg");
  background-size: 100px 100px;
}

.car {
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
  margin-top: 16px;
  width: 100px;
  height: 100px;
  background: url("car.svg");
  background-size: 100px 100px;
}

.uber {
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
  margin-top: 16px;
  width: 100px;
  height: 100px;
  background: url("uber.svg");
  background-size: 100px 100px;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}


/* Search Nav Bar */
.searchNavBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.bar-back {
  /*display: inline-block;*/
  /*width: 300px;*/
  margin-bottom: 0px;
  border-left: 1px #fff;
  font-size: 32px;
  margin-right: 60px;
  margin-left: 60px;
}
.bar-subtitle {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
.searchNavBar--location {
  /*display: inline-block;*/
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: 200;
  margin-right: 60px;
}

.searchNavBar--date {
  /*display: inline-block;*/
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: 200;
}

.activity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.activity--list {
  flex-wrap: wrap;
}
.activity--items {
  flex-wrap: wrap;
  margin-bottom: 0px;
  border-left: 1px #fff;
  font-size: 14px;
  margin-right: 16px;
}

.hotel-font {
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: 200;
}
